@media (max-width:991px) {
  .picture-1-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
  }

  .beef-image, .croissant-image{
    width:43% ;
    height: 400px;
  }
  .menu-1{
    display: flex;
    flex-wrap: wrap;
  }
}